.profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 336px;
    position: relative;
}

@media screen and (max-width: 880px) {
    .profile__info {
        display: grid;
        grid-template-columns: 189px max-content;
        grid-template-rows: repeat(2, max-content);
        max-width: 100%;
        margin: 0 auto 36px;
        justify-content: center;
    }
}