.profile__edit-button {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 15px 0 0 18px;
    background-image: url(../../../images/editbutton.svg);
    background-repeat: no-repeat;
    background-color: #000;
    background-size: contain;
    border: 0;
    cursor: pointer;
    transition: ease 0.5s;
}

.profile__edit-button:hover {
    opacity: 0.6;
    transform: translate(3px);
    transition: ease 0.5s;
}

@media screen and (max-width: 880px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin-top: 8px;
        margin-left: 10px;
    }
}